.hp-header__container {
  align-items: center;
  box-sizing: border-box;
  display: flex;
  margin-top: 1rem;
  position: relative;
}

.hp-header__container input {
  font-size: 1vw;
  height: 2.4vh;
  margin: auto;
  width: 30vw;
}

.hp-cart__container {
  position: absolute;
  right: 30vw;
}

.hp-cart__icon {
  width: 2rem;
}

.hp-cart__number {
  background-color: yellow;
  border-radius: 50%;
  position: absolute;
  right: -1rem;
  top: -1rem;
}

.hp-text {
  text-align: center;
}
