.header__container {
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  margin-top: 1rem;
}

.header__container input {
  font-size: 1vw;
  height: 2.4vh;
  width: 30vw;
}

.cart__container {
  margin-left: 4rem;
  position: relative;
}

.cart__icon {
  width: 2rem;
}

.cart__number {
  background-color: yellow;
  border-radius: 50%;
  position: absolute;
  right: -1rem;
  top: -1rem;
}
