.hp-text {
  text-align: center;
}

.hp-header__container {
  align-items: center;
  box-sizing: border-box;
  display: flex;
  margin-top: 1rem;
  position: relative;
}

.hp-header__container input {
  font-size: 1vw;
  height: 2.4vh;
  margin: auto;
  width: 30vw;
}

.hp-cart__container {
  position: absolute;
  right: 30vw;
}

.hp-cart__icon {
  width: 2rem;
}

.hp-cart__number {
  background-color: yellow;
  border-radius: 50%;
  position: absolute;
  right: -1rem;
  top: -1rem;
}


.hp-btn-text__container {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-top: 0.775rem;
}

.hp-searchbtn {
  background-color: #5192c0;
  border: none;
  border-radius: 10px;
  color: white;
  cursor: pointer;
  display: inline-block;
  font-size: 1em;
  margin: 5px;
  padding: 0.5rem;
  text-align: center;
  transition: all 0.3s;
}

.hp-searchbtn span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
}

.hp-searchbtn span:after {
  content: ':)';
  font-size: 1em;
  opacity: 0;
  position: absolute;
  right: -10px;
  top: 0;
  transition: 0.5s;
}

.hp-searchbtn:hover span {
  padding-right: 15px;
}

.hp-searchbtn:hover span:after {
  opacity: 1;
  right: 0;
}

.hp-searchbtn:active {
  background-color: #2978b5;
}

.category-items__container {
  display: flex;
}

.category-list__container {
  align-items: center;
  background-color: #ce9f95;
  border-radius: 15px;
  box-shadow: 17px 13px 30px -21px rgba(0, 0, 0, 0.75);
  color: white;
  display: flex;
  flex-direction: column;
  font-size: 1.075rem;
  height: 90vh;
  justify-content: center;
  margin-left: 1rem;
  max-width: 20vw;
  min-width: 20vw;
  padding: 1.3vh 1vw;
  position: fixed;
  top: 6vh;
}

.card-list__container {
  display: flex;
  flex-wrap: wrap;
  margin-left: 25vw;
  width: 75vw;
}
