.pc-header {
  align-items: center;
  display: flex;
  justify-content: space-around;
}

.pc-header__back-icon {
  width: 2.675rem;
}

.pc-header__logoContainer {
  display: flex;
}

.pc-header__logo {
  color: black;
}

.pc-header__text {
  font-weight: 600;
  letter-spacing: 0.2rem;
}

.pc-cart {
  align-items: center;
  background-color: #ce9f95;
  border-radius: 15px;
  box-shadow: 17px 13px 30px -21px rgba(0, 0, 0, 0.75);
  color: white;
  display: flex;
  flex-direction: column;
  margin: auto;
  width: 55vw;
}

.price-buy {
  align-items: center;
  background-color: #d8d8d8;
  bottom: 0;
  color: black;
  display: flex;
  height: 4vh;
  justify-content: center;
  position: fixed;
  width: 100vw;
}

.price-buy__buy {
  background-color: red;
  border-radius: 10px;
  color: white;
  font-size: 1.5rem;
  margin-left: 3rem;
  padding: 0.2rem 1rem;
  text-decoration: none;
}
