:root {

  --color-golden: #81B9F9;

}

* {
  margin: 0;
  padding: 0;
}

.container {
  display: flex;
}

.content-left {
  background-color: var(--color-golden);
  width: 20vw;
}

.content-right {
  background-color: #E4E4E4;
  
  display: flex;
  flex-direction: column;
  width: 80vw;
}

.header-home {
  align-items: center;
  background-color: blue;
  display: flex;
  height: 10vh;
  justify-content: space-around;
}

.btn-cart {
  color: white;
  height: 40px;
  width: 40px;
}

.cart-number {
  background: var(--color-golden);
  border-radius: 50%;
  color: black;
  font-size: 1.2em;
  font-weight: 700;
  height: 25px;
  position: absolute;
  right: 22px;
  text-align: center;
  top: 23px;
  width: 25px;
}

.cart-container {
  position: relative;
}

.content-card {
  display: flex;
  flex-direction: column;
  text-align: center;
}

.home-initial-message {
  font-size: 1.3em;
  padding: 30px 0;
}

