/* .categories {
  background-color: rgb(255, 255, 255);
  font-style: italic;
  font-weight: bold;
  display: flex;
  margin: 10px;
  flex-direction: column;
}

.category {
  background-color: rgb(255, 255, 255);
  margin-top: 20px;
} */
