.categories {
  background-color: rgb(254, 255, 255);
  display: flex;
  flex-direction: column;
  font-style: italic;
  margin: 10px;
}

.category {
  background-color: rgb(254, 255, 255);
  margin-top: 20px;
}
