/* .searchTitle {
  background-color: rgb(254, 255, 255);
  text-align: center;
  word-wrap: break-word;
}

.searchBox {
  background-color: rgb(254, 255, 255);
  border: 3px rgb(131, 129, 129) solid;

  border-radius: 10px;
  margin: 10px;
}

.searchButton {
  background-color: rgb(254, 255, 255);
  border-radius: 10px;
  font-size: 20px;
  margin: 5px;
  padding-left: 30px;
  padding-right: 30px;
}

.fundo {
  background-color: rgb(254, 255, 255)
}

.query-input {
  background-color: rgb(254, 255, 255);
  margin: 5px;
} */
