.card-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.card {
  background: white;
  border: 1px  solid lightgrey;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  height: 230px;
  justify-content: center;
  margin: 5px;
  padding: 10px;
  width: 220px;
}

.card img {
  width: 100px;
}
