.contendMainStore {
  display: flex;
  padding: 0 15px;
  width: 95%;
}

.searchHeader {
  border: 1px solid black;
  display: flex;
  justify-content: center;
  width: 80%;
}

.searchBox {
  padding-top: 10px;
  text-align: center;
  width: 90%;
}

.searchBox input {
  height: 20px;
  width: 90%;
}

.searchBox button {
  padding: 3px;
}

.asideCategories {
  border: 1px solid black;
  margin-right: 15px;
  width: 20%;
}

.listProducts {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.cardProduct {
  border: 1px solid black;
  margin: 10px;
  width: 250px;
}

.notProduct {
  display: none;
}

.initialMenssage {
  display: block;
}
