main {
  font-size: 16px;
  margin: 10px;
}

header{ 
  background:#f6f6f6;
  min-height:50px;
}

.text-search {
  text-align: center;
}

.input-search {
  display: flex;
  font-family: serif;
  font-size: 16px;
  height: 32px;
  justify-content: flex-start;
  margin: 5px;
  text-align: center;
  width: 99%;
}
/* webkit solution */
::-webkit-input-placeholder { 
  font-family: FontAwesome;
  text-align:center; 
}
/* mozilla solution */
input:-moz-placeholder { 
  font-family: FontAwesome;
  text-align:center; 
}

.cart-block {
  align-items: center;
  background-color: #f6f6f6;
  display: flex;
  justify-content:space-between;
  margin: 0px;
}

.cart-block img {
  display: flex;
  justify-content: flex-end;
}

.cart-block h2 {
  margin-left: 20px;
}

.cart-div {
  text-align: center;
}

.cart-back {
  text-align: center;
}

.homepage{
  display: flex;
}

.categories-bar {
  border-style: solid;
  border-width: 1px;
  width: 300px;
}

.result-page {
width: 100%;
}

footer {
  background-color: #f6f6f6;

  height: 70px;
  position: absolute;
  text-align: center;
  width: 100%;
}

footer p {
margin-top: 25px;
}
