main {
  font-size: 16px;
  margin: 10px;
}

header {
  background: #f6f6f6;
  min-height: 50px;
}

.text-search {
  text-align: center;
}

.input-search {
  display: flex;
  font-family: FontAwesome , serif;
  font-size: 16px;
  height: 32px;
  justify-content: flex-start;
  margin: 5px;
  text-align: center;
  width: 99%;
}

.cart-block {
  align-items: center;
  background-color: #f6f6f6;
  display: flex;
  justify-content: space-between;
  margin: 0;
}

.cart-block img {
  display: flex;
  justify-content: flex-end;
}

.cart-block h2 {
  margin-left: 20px;
}

.cart-div {
  text-align: center;
}

.cart-back {
  text-align: center;
}

.homepage {
  display: flex;
}

input .btn-search {
  width: 90px;
}

/* Componente CategoryBar */
.categories-bar {
  border-style: solid;
  border-width: 1px;
  width: 300px;
}

.categories-bar h1 {
  text-align: center;
}

.categories-labels {
  display: block;
  margin-bottom: 5px;
}

/* Componente CategoryBar */
.result-page {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.products-list {
  background-color: #dddadaab;
  text-align: center;
}

footer {
  background-color: #f6f6f6;
  height: 70px;
  position: absolute;
  text-align: center;
  width: 100%;
}

footer p {
  margin-top: 25px;
}
