.cart-item-container button {
  border: none;
  border-radius: 50%;
  color: white;
  display: inline-block;
  font-size: 20px;
  padding: 15px 21px;
  text-align: center;
  text-decoration: none;
}

.remove, .decrease {
  background-color: #f44336;
}

.increase {
  background-color: #4caf50;
}

